<form *ngIf="company">
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="company.name"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="name"
      placeholder="Name"
      required
      matInput>
  </mat-form-field>
</form>
  
<listing-page
  *ngIf="company && company._id"
  [typeListing]="MagicStrings.NestedList"
  [titleList]="'Related Floors'"
  [type]="Type.Floor"
  [filterByCompanyId]="company._id"></listing-page>