<form *ngIf="categoryTask">
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="categoryTask.name"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="name"
      placeholder="Name"
      required
      matInput
    />
  </mat-form-field>
  <div id="inputColorWrapper">
    <span id="labelColorPicker">Choose the color for the marker:</span>
    <input
      id="inputColorPicker"
      readonly="readonly"
      [(colorPicker)]="categoryTask.color"
      [style.background]="categoryTask.color"
      [cpDisabled]="mode === DetailMode.View"
      [cpFallbackColor]="'#ddd'"
      [cpOKButton]="true"
      [cpCancelButton]="true"
    />
  </div>

  <div class="category-attribute-section">
    <mat-checkbox
      [(ngModel)]="categoryTask.hasType"
      [labelPosition]="'after'"
      [disabled]="mode === DetailMode.View"
      name="addType"
    >
      Add a Type
    </mat-checkbox>
  </div>

  <div class="category-attribute-section">
    <mat-checkbox
      [(ngModel)]="categoryTask.hasMeasure"
      [labelPosition]="'after'"
      [disabled]="mode === DetailMode.View"
      name="addMeasure"
    >
      Add a Measure
    </mat-checkbox>
  </div>

  <div class="category-attribute-section">
    <mat-checkbox
      [(ngModel)]="categoryTask.hasAmount"
      [labelPosition]="'after'"
      [disabled]="mode === DetailMode.View"
      name="addAmount"
    >
      Add an Amount
    </mat-checkbox>
  </div>
</form>
