@mixin styleInput() {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

:host {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    @include styleInput();
  }
}

#inputColorWrapper {
  @include styleInput();

  #labelColorPicker {
    margin-right: 20px;
    font-size: 18px;
  }

  #inputColorPicker {
    $size: 40px;
    height: $size;
    width: $size;
    border-radius: 50%;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
