<form *ngIf="task">
  <image-location
    #imageLocationEditor
    [imageLocation]="imageLocation"
    [task]="task"
    [mode]="mode"
    [isInDetailTask]="true"
  ></image-location>
  <div class="fixed-field-wrapper">
    <div class="fixed-field-title">Tag ID</div>
    <div class="fixed-field-content">{{ task | tagId }}</div>
  </div>

  <mat-form-field class="full-width">
    <input
      [(ngModel)]="task.name"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="name"
      placeholder="name"
      matInput
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea
      [(ngModel)]="task.description"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="description"
      matTextareaAutosize
      matAutosizeMinRows="1"
      matAutosizeMaxRows="10"
      placeholder="Description"
      matInput
    ></textarea>
  </mat-form-field>

  <mat-form-field class="top-separation">
    <mat-select
      placeholder="Type Task"
      [disabled]="mode === DetailMode.View"
      [(value)]="task.categoryTask"
      (selectionChange)="categoryTaskSelectionChange()"
      [compareWith]="compSt"
    >
      <mat-option *ngFor="let categoryTask of categoryTasks" [value]="categoryTask">
        <span class="option-bullet" [style.backgroundColor]="categoryTask.color"></span>{{ categoryTask?.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="top-separation">
    <mat-select
      placeholder="Made by"
      [disabled]="mode === DetailMode.View"
      [(value)]="task.madeBy"
      [compareWith]="compSt"
    >
      <mat-option *ngFor="let user of users" [value]="user"> {{ user?.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- ATTRIBUTES -->
  <div class="category-attribute-section">
    <mat-form-field *ngIf="task.categoryTask && task.categoryTask.hasType">
      <mat-label>Select a type for this Task</mat-label>
      <mat-select [(value)]="task.type" [disabled]="mode === DetailMode.View">
        <mat-option [value]="null">{{ 'None' }}</mat-option>
        <mat-option *ngFor="let type of CategoryTask.availableTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="category-attribute-section">
    <mat-form-field *ngIf="task.categoryTask && task.categoryTask.hasMeasure">
      <p>Select a measure for this Task</p>
      <mat-label>Width in cm:</mat-label>
      <input
        [(ngModel)]="task.positionMarker.width"
        [readonly]="mode === DetailMode.View"
        (change)="convertMeasure()"
        type="number"
        name="width"
        placeholder="Width in cm"
        min="1"
        max="100"
        matInput
      />
    </mat-form-field>

    <mat-form-field *ngIf="task.categoryTask && task.categoryTask.hasMeasure">
      <mat-label>Height in cm:</mat-label>
      <input
        [(ngModel)]="task.positionMarker.height"
        [readonly]="mode === DetailMode.View"
        (change)="convertMeasure()"
        type="number"
        name="height"
        placeholder="Height in cm"
        min="1"
        max="100"
        matInput
      />
    </mat-form-field>
    <p *ngIf="task.measure && task.measure > 0">Selected measure: {{ task.measure }}</p>
  </div>

  <div class="category-attribute-section">
    <mat-form-field *ngIf="task.categoryTask && task.categoryTask.hasAmount">
      <input
        [(ngModel)]="task.amount"
        [readonly]="mode === DetailMode.View"
        type="number"
        name="amount"
        placeholder="Select an amount for this Task"
        matInput
      />
    </mat-form-field>
  </div>

  <!-- LOCATION -->
  <mat-form-field class="top-separation">
    <mat-select
      placeholder="Set location"
      [disabled]="mode === DetailMode.View"
      [(value)]="task.location"
      (selectionChange)="locationChanged()"
      [compareWith]="compSt"
    >
      <mat-option *ngFor="let floor of floors" [value]="floor"> {{ floor?.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <image-section
    #imageSectionBefore
    [itemId]="task._id"
    [mode]="mode"
    [type]="Type.Task"
    [sectionImage]="SectionsImage.Before"
  ></image-section>
  <image-section
    #imageSectionAfter
    [itemId]="task._id"
    [mode]="mode"
    [type]="Type.Task"
    [sectionImage]="SectionsImage.After"
  ></image-section>
</form>
