:host {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field,
  .fixed-field-wrapper {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
}

.top-separation {
  margin-top: 30px;
}

::ng-deep .mat-option-text {
  display: flex !important;
  align-items: center !important;
}

.option-bullet {
  $size: 12px;
  height: $size;
  width: $size;
  border-radius: 50%;
  margin-right: 10px;
}

image-section {
  width: 100%;
}

.fixed-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px 0;
  font-family: sans-serif;

  .fixed-field-title {
    font-weight: bolder;
    margin-bottom: 10px;
  }
}
