<ng-template #myData>
  <div id="buttonWrapper">
    <button
      *ngIf="typeListing !== MagicStrings.NestedList"
      mat-raised-button
      color="primary"
      (click)="goDetailPage(item, DetailMode.Create)"
      [disabled]="disableNewUserButton()"
    >
      New
    </button>
  </div>

  <mat-card>
    <mat-card-header *ngIf="titleList">
      <mat-card-title>{{ titleList }}</mat-card-title>
    </mat-card-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of items" (click)="goDetailPage(item)">
        {{ item | tagId: type === Type.Task }}
      </mat-list-item>
    </mat-nav-list>
  </mat-card>

  <div *ngIf="!showSpinner && items && items.length === 0" class="no-data mat-body-2">No available elements to show</div>
</ng-template>

<div *ngIf="false; else myData"></div>
