.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  z-index: 300;
}

mat-card-title {
  font-weight: bold;
}

#buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.no-data {
  font-size: 1.1em;
  margin: 30px 10px;
}
