<div id="wrapper-button">
  <button
    *ngIf="mode === DetailMode.Edit || mode === DetailMode.Create"
    (click)="save()"
    class="save-button"
    mat-raised-button
  >
    Save
  </button>
  <button
    *ngIf="mode === DetailMode.View"
    (click)="changeMode(DetailMode.Edit)"
    [disabled]="disableButtonUserButton()"
    mat-raised-button
    color="primary"
  >
    Edit
  </button>
  <button *ngIf="mode === DetailMode.Edit || mode === DetailMode.Create" (click)="cancelEditMode()" mat-raised-button>Cancel</button>
  <button
    *ngIf="!showDelete && mode === DetailMode.View"
    (click)="showDelete = true"
    [disabled]="disableButtonUserButton()"
    class="danger-button"
    mat-button
    color="warn"
    title="Show delete button"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
  <button
    *ngIf="showDelete && mode === DetailMode.View"
    (click)="delete()"
    class="danger-button"
    mat-raised-button
    color="warn"
  >
    Delete
  </button>
</div>

<detail-user #userSection *ngIf="typeItem === Type.User" [item]="item" [mode]="mode"></detail-user>
<detail-floor
  #floorSection
  *ngIf="typeItem === Type.Floor"
  [item]="item"
  [mode]="mode"
  (refresh)="refresh()"
  (locationSavedTemp)="finishSaving()"
></detail-floor>
<detail-company *ngIf="typeItem === Type.Company" [item]="item" [mode]="mode"></detail-company>
<detail-category-task *ngIf="typeItem === Type.CategoryTask" [item]="item" [mode]="mode"></detail-category-task>
<detail-task
  #taskSection
  *ngIf="typeItem === Type.Task && hardRefreshFlag"
  [item]="item"
  [mode]="mode"
  (locationSavedTemp)="finishSaving()"
  [initialLocationId]="initialLocationId"
></detail-task>
