@import './../../../../stylesheets/_variables';

.app-sidenav-container {
  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-sidenav {
  width: 240px;
}

.wrapper {
  margin: 50px;
}

mat-list-item {
  @include avoid-user-select();
}

button {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

#version {
  margin-top: auto;
  margin-bottom: 5px;
  padding: 0 16px;
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(83, 83, 83);
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: none; // fixes bug appeared on the upgrate to v7
}
