<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="clickMenuItem(Type.Task)">{{ Type.Task }}</mat-list-item>
      <mat-list-item (click)="clickMenuItem(Type.Floor)">{{ Type.Floor }}</mat-list-item>
      <mat-list-item (click)="clickMenuItem(Type.Company)">{{ Type.Company }}</mat-list-item>
      <mat-list-item (click)="clickMenuItem(Type.CategoryTask)">{{ Type.CategoryTask }}</mat-list-item>
      <mat-list-item (click)="clickMenuItem(Type.User)">{{ Type.User }}</mat-list-item>
      <mat-list-item (click)="clickMenuItem('Reporting')">Report</mat-list-item>
    </mat-nav-list>
    <button mat-button color="primary" (click)="logOut()">Log Out</button>
    <div id="version">v {{ version }}</div>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-main-toolbar [selectedType]="selectedType" (toggleSidenav)="sidenav.toggle()"></app-main-toolbar>
    <div class="wrapper"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
