$separationTop: 30px;
.main-wrapper {
  position: relative;
  margin-top: $separationTop;
}

.tool-wrapper {
  margin-top: -$separationTop;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  .close-icon {
    color: red;
    cursor: pointer;
    &:hover {
      color: rgb(248, 125, 125);
    }
    &:active {
      color: rgb(161, 104, 104);
    }
  }

  span {
    font-size: 14px;
  }
}

$zIndexIcon: 10;
$zIndexLegend: 1;
$zIndexWrapper: 1;

.marker-wrapper {
  $sizeEl: 50px;
  height: $sizeEl;
  margin-top: -$sizeEl;
  &.no-legend {
    margin-top: -($sizeEl / 2);
  }
  margin-left: -12px;
  z-index: $zIndexWrapper;

  .marker-legend {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    padding: 2px;
    border-radius: 2px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: $zIndexLegend;
  }

  .marker-html {
    color: #bbb;
    z-index: $zIndexIcon;

    &:hover {
      cursor: pointer;
      color: #ccc !important;
    }
    &:active {
      cursor: pointer;
      color: rgb(224, 222, 222) !important;
    }
  }
}
