<div class="main-wrapper" *ngIf="imageLocation && imageLocation.imageObj">
  <div *ngIf="mode === DetailMode.Edit || mode === DetailMode.Create" class="tool-wrapper">
    <mat-icon (click)="removePreviousMarkers()" title="'Clear previous marker'" class="close-icon">close</mat-icon>
    <span>Clear Previous Marker</span>
  </div>
  <div id="imageContainer">
    <img #imageLocationTag [src]="imageLocation.imageObj" alt="" (click)="clickImage($event)" class="image-displayer" />
  </div>
</div>
