<ng-template #filterPanel>
  <form>
    <div id="filterMessage">{{ filterMessage }}</div>
    <div id="tasksToReportTable">
      <p>The following tasks will be included in the report</p>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="tagId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag ID</th>
          <td mat-cell *matCellDef="let task">{{task.tagId}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let task">{{task.description}}</td>
        </ng-container>
        <ng-container matColumnDef="categoryTask">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let task">{{task.categoryTask}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let tableRow; columns: tableColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>
    </div>
    <div id="taskCreationDateFilter">
      <p>Filter by task creation date</p>
      <mat-form-field>
        <input #fromDate matInput [matDatepicker]="fromDatepicker" placeholder="From" [max]="today"/>
        <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input #toDate matInput [matDatepicker]="toDatepicker" placeholder="To" [max]="today"/>
        <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatepicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button (click)="filterByTaskCreationDateRange()" [disabled]="tasks.length === 1 || (fromDate.value === '' && toDate.value === '')">Filter</button>
    </div>
    <div id="categoryTaskFilter">
      <p>Filter by category task</p>
      <p>{{categoryTasksSelectionList.selectedOptions.selected.length}} category task(s) selected</p>
      <mat-selection-list #categoryTasksSelectionList>
        <mat-list-option *ngFor="let categoryTask of categoryTasks" [value]="categoryTask" [selected]="false">{{categoryTask}}</mat-list-option>
      </mat-selection-list>
      <button mat-raised-button (click)="filterByCategoryTasks()" [disabled]="tasks.length === 1 || categoryTasksSelectionList.selectedOptions.selected.length === 0 || categoryTasksSelectionList.options.length <= 1">Filter</button>
    </div>
    <button mat-raised-button (click)="clearFilters()" [disabled]="clearFiltersDisabled">Clear filters</button>
    <div id="reportGenerationButtons">
      <button mat-raised-button (click)="generateExcelReport()" [disabled]="tasks.length === 0">Generate report</button>
    </div>
  </form>
</ng-template>

<div id="reportingComponent" *ngIf="tasks === undefined; else filterPanel">
  <div id="noDataMessage" class="no-data mat-body-2">There is no data available to generate a report. Please create some tasks and related resources to make it possible.</div>
</div>
