
<div *ngIf="isLoading()" class="image-element-wrapper">
  <mat-icon *ngIf="showDeleteIcon()" (click)="delete.emit()">delete</mat-icon>
  <mat-icon *ngIf="isLocation" (click)="editLocation.emit()" class="edit-icon">edit</mat-icon>
  <img class="image-displayer" *ngIf="imageToUpload && imageToUpload.imgUrl" [src]="imageToUpload.imgUrl" alt="">
  <img class="image-displayer" *ngIf="image && image.imageObj" [src]="image.imageObj" alt="">
</div>
