.image-element-wrapper {
  position: relative;

  mat-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    cursor: pointer;

    &:active {
      color: rgb(247, 80, 80);
    }
  }

  .edit-icon {
    color: rgb(240, 47, 240);
    &:active {
      color: rgb(248, 112, 248);
    }
  }
}
