<div class="main-wrapper">
  <div class="title-image-section">Images {{ sectionImage | titlecase }}</div>

  <div *ngIf="mode === DetailMode.Edit || mode === DetailMode.Create" class="add-images">
    <div class="title">Add New Images</div>
    <div class="buttons">
      <input
        type="file"
        id="imageFile"
        name="imageAvatar"
        accept="image/png"
        (change)="onFileChange($event)"
        [multiple]="allowMultipleSelection"
      />
    </div>

    <div class="gallery">
      <image-element
        *ngFor="let imag of imagesToUpload"
        [mode]="mode"
        [imageToUpload]="imag"
        (delete)="deleteImageToUpload(imag)"
      ></image-element>
    </div>
  </div>

  <div class="title-gallery">Gallery</div>
  <div class="gallery">
    <image-element
      *ngFor="let imag of listedImages"
      [mode]="mode"
      [image]="imag"
      (delete)="removeImage(imag.path, imag.name)"
    ></image-element>
  </div>
</div>
