:host {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title-image-section {
    margin-bottom: 20px;
    font-size: 26px;
    color: rgb(63, 81, 181);
  }

  .add-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .buttons {
      margin: 30px 0 50px 0;
      display: flex;
    }
  }

  .title-gallery {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: rgb(63, 81, 181);
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
