@import './custom-theme';

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.save-button {
  color: white;
  background-color: rgb(44, 150, 44);
}

.error-message {
  background-color: rgb(243, 76, 76);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.image-displayer {
  $maxSize: 500px;
  max-width: $maxSize;
  max-height: $maxSize;

  @media screen and (max-width: 501px) {
    max-width: 100%;
  }
}

.spinner-main {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(59, 58, 58, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
