<mat-form-field>
  <mat-label>Filter by type task</mat-label>
  <mat-select
    [compareWith]="compareWithFnOpt"
    [(ngModel)]="selectedValues"
    [disabled]="disableSelect"
    (selectionChange)="selectionChange()"
    multiple
  >
    <mat-option *ngFor="let myOp of myOptions" [value]="myOp">{{ myOp.name }}</mat-option>
  </mat-select>
</mat-form-field>
