:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

listing-page {
  width: 100%;
}

.top-separation {
  margin-top: 30px;
}

.new-task {
  background-color: orange;
  color: white;
  margin-right: 10px;
  align-self: flex-end;
}

custom-multi-select {
  align-self: flex-start;
}

.button-export {
  align-self: flex-end;
  margin-top: 20px;
}
