<button (click)="createNewTask()" mat-raised-button class="new-task">New Task</button>

<form *ngIf="floor">
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="floor.name"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="name"
      placeholder="Name"
      required
      matInput
    />
  </mat-form-field>

  <mat-form-field class="top-separation">
    <mat-select
      placeholder="Companies"
      [disabled]="mode === DetailMode.View"
      [(value)]="floor.company"
      [compareWith]="compSt"
    >
      <mat-option *ngFor="let company of companies" [value]="company"> {{ company.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <image-section
    #imageSectionLocation
    [itemId]="floor._id"
    [mode]="mode"
    [type]="Type.Floor"
    [allowMultipleSelection]="false"
    [sectionImage]="SectionsImage.Location"
  ></image-section>
</form>

<custom-multi-select
  [myOptions]="categoriesTask"
  (selectedChanged)="filterTaskCategoryChange($event)"
></custom-multi-select>

<listing-page
  #listingPage
  *ngIf="floor && floor._id"
  [typeListing]="MagicStrings.NestedList"
  [titleList]="'Related Tasks'"
  [type]="Type.Task"
  (refresh)="refresh.emit()"
  [filterByFloorId]="floor._id"
></listing-page>

<image-location
  #imageLocationRelatedTask
  *ngIf="imageLocationFloor && imageLocationFloor.imageObj"
  [imageLocation]="imageLocationFloor"
  [relatedTasks]="relatedTasks"
  [mode]="DetailMode.View"
  [isInDetailTask]="false"
  (markerClicked)="markerLocationClicked($event)"
></image-location>

<button class="button-export" mat-raised-button color="primary" (click)="export()">Export</button>
