<div id="mainLoginWrapper">
  <mat-card class="example-card">
    <mat-card-header color="primary">
      <mat-card-title>Login Page</mat-card-title>
      <mat-card-subtitle>Use your credentials</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input [(ngModel)]="email" type="email" name="email" placeholder="Email" matInput />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="password"
            type="password"
            name="password"
            placeholder="Password"
            autocomplete="off"
            matInput
          />
        </mat-form-field>
        <div class="danger">{{ errorText }}</div>
        <button (click)="login()" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
