#mainLoginWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.example-card {
  width: 60%;
  height: 300px;
  max-width: 500px;
  margin-top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 100%;

    input {
      text-align: center;
    }
  }

  button {
    width: 100px;
    margin-top: 50px;
  }

  .danger {
    color: red;
  }
}
