<div *ngIf="showEditOwnPasswordButton()" id="editPasswordButtonWrapper">
  <button (click)="editingOwnPassword = !editingOwnPassword" mat-raised-button color="primary">
    {{ editingOwnPassword ? 'Close' : 'Edit Password' }}
  </button>
</div>

<form *ngIf="user">
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="user.name"
      [readonly]="mode === DetailMode.View"
      type="text"
      name="name"
      placeholder="Name"
      required
      matInput
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      [(ngModel)]="user.email"
      [readonly]="mode === DetailMode.View"
      type="email"
      name="email"
      placeholder="Email"
      required
      matInput
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select [disabled]="disableRole()" [(value)]="user.role" placeholder="Role" [title]="tooltipRole()">
      <mat-option *ngFor="let role of roles" [value]="role">{{ role | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div [class.active-update-password]="showChangePassword()" class="password-section">
    <mat-form-field *ngIf="mode === DetailMode.Create || showChangePassword()" class="full-width">
      <input [(ngModel)]="password1" type="password" name="password1" placeholder="Password" required matInput />
    </mat-form-field>
    <mat-form-field *ngIf="mode === DetailMode.Create || showChangePassword()" class="full-width">
      <input [(ngModel)]="password2" type="password" name="password2" placeholder="Repeat Password" required matInput />
    </mat-form-field>
    <button
      *ngIf="showChangePassword()"
      (click)="changePassword()"
      class="danger-button"
      mat-raised-button
      color="warn"
    >
      Change Password
    </button>
  </div>
</form>
