:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.password-section {
  display: flex;
  flex-direction: column;
}
.active-update-password {
  background-color: rgba(258, 154, 154, 0.1);
  border-radius: 4px;
}

#editPasswordButtonWrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
}
