<mat-toolbar color="primary">
  <div id="left_wrapper">
    <img id="logo_company" src="assets/logo_fire.jpeg" alt="Logo company" /> Manage {{ selectedType }}
  </div>
  <div id="rightWrapper">
    <span id="hiNameUser">{{ 'Hello ' + userService?.userLoged?.name + '!' }}</span>
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()"><mat-icon>menu</mat-icon></button>
  </div>
</mat-toolbar>
