mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hiNameUser {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  #hiNameUser {
    display: none;
  }
}

#left_wrapper {
  display: flex;
  align-items: center;

  #logo_company {
    $sizeLogo: 56px;
    width: calc($sizeLogo * 0.8);
    height: $sizeLogo;
    margin: 0 20px;
  }
}
